.design{   display:grid;
    grid-template-columns:1fr 1fr 1fr;
column-gap:20px;}
.design1,.design2,.design3{
    
    background-color:white;
    border-style:solid;
    border-color:rgba(128, 128, 128, 0.23);
    border-width:2px;
     margin-right:8px;
      border-radius:2px;
    display:grid;
    
    vertical-align:top;
    }
.cat{
    height:150px;
    width:100%;
    display:grid;
    vertical-align:top;

}
.ycat{
    height:150px;
    width:100%;
    vertical-align:top;
    display:grid;

    
}
.dog{
    height:150px;
    width:100%;
    vertical-align:top;
    display:grid;
}
.l1,.l3,.l5{
    font-family:Roboto;
    color:black;
    font-size:14px;
    margin-left:8px;
    margin-bottom:0px;
    display:grid;
    font-weight:bold;
    line-height:3px;
    
}


.l2,.l4,.l6{
    font-family:Roboto;
    font-size:12px;
    font-weight:bold;
    color:grey;
    margin-left:6px;
    margin-top:16px;
    margin-bottom:8px;
    width:90px;
    display:grid;
    text-align:middle;
}
.b1,.b2,.b3{
    background-color:#0e6ee2f3;
    color:white;
    font-size:13px;
    text-align:middle;
    display:grid;
    border-style:solid;
    border-width:2px;
    border-color:blue;
    padding-left:14px;
    padding-right:16px;
    padding-top:6px;
    padding-bottom:6px;
    margin-left:6px;
    border-style:none;
    margin-bottom:6px;
    border-radius:4px;
}
.img1,.img2{
    display:grid;
    
}
.profilepic{
    
    width:100%;
    margin-bottom:8px;
    border-radius:100%;
    display:grid;
    vertical-align:top;

}